/*----------
         top-1 style section
              ------------*/
    .container{

        width: 100%;
padding: 20px;
        color: white;
           justify-content: center;
        align-items: center;
    }
    .top-1{ 
        width: 95%;
        background-color: black;
        display: flex;
        align-content: center;
        justify-content: center;
     
      padding: 20px;
     } 
     h1{
        font-size: 40px;
     }
     .top-1-blog{
        width: 50%;
        align-items: center;
     }   
     .top-1-image{
        display: flex;
        justify-content: baseline;
     } 

     .live-link{
        display: flex;
        background-color: chartreuse;
        align-items: center;
        color: rgb(255, 0, 0);
        width: fit-content;
        padding:2px 10px;
        border-radius: 10px 10px 5em;
     }
     .fa-solid{
        margin-left: 10px;
     }
     .top-1-blog:hover .live-link {
        background-color: rgb(38, 0, 255);
        font-size: 20px;
     }
     /*----------
              top 1 style end
                     ---------------*/

 /*---------------
        top 2 section style start
            ---------------------*/
            .top-2{
                display: flex;
                width: 90%;
            }
            .summary-item
            {
                
                background-color: rgb(107, 57, 57);
                width:25%;
               height: fit-content;
                padding: 10px 20px;
                height: 130px;
                display: flex;
                flex-direction: column;
                align-items: center;
           
            }
           a{
                width: 50px;
                padding: 10px 0px;
                border-radius: 10px 10px;
              
              
               
                text-decoration: none;
         
                align-items: center;
             

            }
            .upcoming , .group-page , .blog-page {
                margin: 5px 0;
                padding: 10px 10px;
                background-color: azure;
                border-radius: 10px 10px;
                display: flex;
                justify-content: center;
                display: inline;
            }
           
         a:hover{
           
            font-size: 20px;
           }
            .blogs{
                width:100%;
                margin-left: 20px;
                background-color: aqua;
                display: grid;
                grid-template-columns: repeat(3,1fr);
            }
            .blog img {
            width: 70%;
            }
            .transfer a {
                background-color: aliceblue;
                padding: 5px;
            }
            .blog{
               
                margin: 10px;
                padding: 10px;
               border:2px solid ;
               border-radius: 10px 10px 10px 10px;
             width: 312px;
             height: 365px;
            }
         .time-section span{
            display: flex;
            flex-direction: row-reverse;
         }