/*----------
         top-1 style section
              ------------*/
              body{
               font-family: 'Poppins', sans-serif;
              }
              main{
               max-width: 1200px;
               margin: 0 auto;
              }
    .container{

        width:100%;

        color: white;
           justify-content: center;
        align-items: center;
        border: 2px solid cornflowerblue;
        margin: 50px 0;
    }
    .top-1{ 
        width: fit-content;
        background-color: black;
        display: flex;
        align-content: center;
        justify-content: center;
   
     
      padding: 0 20px;
     } 
     h1{
        font-size: 40px;
     }
     .top-1-blog{
        width:50%;
        align-items: center;
        margin-right: 20px;
     }   
     .top-1-image{
        display: flex;
        justify-content: baseline;
        padding: 0px;
     } 

     .live-link{
        display: flex;
        background-color: chartreuse;
        align-items: center;
        color: rgb(255, 0, 0);
        width: fit-content;
        padding:2px 10px;
        border-radius: 10px 10px 5em;
     }
     .fa-solid{
        margin-left: 10px;
     }
     .top-1-blog:hover .live-link {
        background-color: rgb(38, 0, 255);
        font-size: 20px;
     }
     /*----------
              top 1 style end
                     ---------------*/

 /*---------------
        top 2 section style start
            ---------------------*/
            .top-2{
               width: 100%;
                display: flex;
                width: fit-content;
                margin-top: 20px;
                border: 2px solid darkmagenta;
                padding: 10px;
                color: black;
            }
            .summary-item
            {
                
                background-color: rgb(107, 57, 57);
                width:fit-content;
               height:500px;
                padding: 10px 20px;
                height: 130px;
                display: flex;
                flex-direction: column;
                align-items: center;
           
            }
           a{
                width: 50px;
                padding: 10px 0px;
                border-radius: 10px 10px;
              
              
               
                text-decoration: none;
         
                align-items: center;
             

            }
            .upcoming , .group-page , .blog-page {
                width: 200px;
                height: 64px;
                margin: 5px 0;
                padding: 10px 10px;
                background-color: azure;
                border-radius: 10px 10px;
                display: flex;
                justify-content: center;
                display: inline;
            }
           
         a:hover{
           
            font-size: 20px;
           }
            .blogs{
                width:95%;
                margin-left: 20px;
                background-color: aqua;
                display: grid;
                grid-template-columns: repeat(3,1fr);
                border:2px solid red
            }
            .blog img {
            width: 100%;
            }
            .transfer a {
                background-color: aliceblue;
                padding: 5px;
                border: 1px solid;
            }
            .blog{
               background-color: whitesmoke;
                margin: 10px;
                padding: 10px;
               border:2px solid ;
               border-radius: 10px 10px 10px 10px;
             width: 250px;
             height: 365px;
            }
         .time-section span{
            display: flex;
            flex-direction: row-reverse;
         }


         footer{
            align-items: center;
            background-color: rgb(121, 21, 21);
            color: white;
           
         }
         .footer-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
             height: 444px;
         }
         hr{
            width: 1000px;
            border:.1px solid #ffffff21;
            margin-top: 30px;
            margin-bottom: 30px;
         }
        
  
         .footer-head{
            display: flex;
            align-items: center;
            justify-content: center;
         }

         .support-link{
            margin-top: 20px;
         }
         .support-link a{
            padding-top: 30px;
            margin: 20px;
            color: chartreuse;
         }